// colors
$Darkest: #05050f;
$BlackRussian: #080f2b;
$LightBlue: #c3c2ff;
$Ruby: #d81d56;
$white: #ffff;
$purple: #824fed;
$MaidiumGray: #8da0a5;
// space
$xxs: 8px;
$xs: 12px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 24px;
$xxl: 40px;
$xxxl: 42px;
